html {
  font-size: 100%;
}
body {
  font-size: var(--font-size);
  font-family: var(--system-ui);
  font-weight: 400;
  line-height: var(--line-height);
  background-color: var(--body-bg);
  color: var(--color-text);
}
